.default-page-layout {
  header {
    background-color: antiquewhite;
    padding-bottom: 40px;

    .left-actions {
      padding: 20px;
      width: 60px;
      font-size: 30px;
    }

    .content {
      max-width: 1200px;
      margin: 0 auto;
    }
  }

  main {
    background-color: white;
    position: relative;

    &:before {
      content: "";
      background-color: white;
      height: 20px;
      display: block;
      position: relative;
      bottom: 20px;
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
      box-shadow: 0 -13px 13px -3px rgba(0, 0, 0, 0.2);
    }
  }
}
