.default-page-layout {
  header {
    padding-bottom: 100px;

    .left-actions {
      padding: 20px;
      width: 60px;
      font-size: 30px;
    }

    .content {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  main {
    background-color: white;
    position: relative;
    bottom: 100px;
    border-radius: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 30px 50px;
  }

  footer {
    min-height: 300px;
  }
}
